*{
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 0;
    overflow: hidden;
    margin: 5em 0;
    transition: transform 0.5s ease-in-out;
}

.container:hover{
    transform: scale(1.05);
    opacity: 1;
}

.fotocontainer{
    margin: 0;
    padding: 0;
    justify-content: start;
    max-height: 1000px;
}

.foto{
    display: flex;
    height: 800px;
}

.textcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: white;
    gap : 3em;
    background-color: #A4B8C4;
    height: 800px;
    width: 800px;
    transition: transform 0.5s ease-in-out;
}

.textcontainer:hover{
    background: #9dbacc;
}

.textRight{
    font-weight: 500;
    font-size: 1.5em;
    text-align: justify;
    padding: 2em;
}

.nombreAle{
    font-size: 5em;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    margin-bottom: 0.5em;
}
