.container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 3em;
    padding: 3em;
    color: white;
    transition: transform 0.5s ease-in-out;
}

.sectioncontainer:hover{
    opacity: 0.9;
    transform: scale(1.1);
    background: #9dbacc;

}

@media (max-width: 768px){
    .container{
        flex-direction: column;
        gap: 1em;
        padding: 2em;
    }
}

.sectioncontainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 45%;
    max-width: 700px;

    border-radius: 3em;
    padding: 3em;

    background-color: #A4B8C4;
    font-weight: normal;

    transition: transform 0.5s ease-in-out

}

@media (max-width: 768px){
    .sectioncontainer{
        width: 100%;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 375px){
    .sectioncontainer{
        padding: 1em;
        width: 100%;
        height: fit-content;
    }
}

.sectionTitles{
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 1em;
}

@media (max-width: 768px){
    .sectionTitles{
        font-size: 2em;
    }
}

.paragraph1{
    font-size: 1.5em;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 1em;

}

@media (max-width: 768px){
    .paragraph1{
        font-size: 1em;
    }
}

.paragraph2{
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 1em;
}

@media (max-width: 768px){
    .paragraph2{
        font-size: 1em;
    }
}

.itemcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;
}
